<!-- 
/**
 * Renders a paginated list of user profiles.
 * 
 * Displays profile cards for each user, showing their username, avatar, 
 * article count, join date, and profile actions. Provides pagination controls.
 * 
 * Used on the user index page to display all signed up users.
 */
-->

<!-- Display all existing users -->
<h1 class="text-center mt-4">Alpha Blog Authors</h1>

<!-- Pagination -->
<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>

<!-- Cards for each users -->
<div class="container">

  <% @users.each do |user| %>

    <div class="row justify-content-md-center">

      <div class="col-8 mt-4">

        <div class="card text-center shadow mb-5 bg-body rounded">
          
          <div class="card-header fst-italic">
            <%= link_to user.username, user %>
          </div>
          
          <div class="card-body">
            <h5 class="card-title">
              <!-- image link, route -->
              <%= link_to gravatar_for(user, size: 150), user %>
            </h5>
            <p class="card-text">
              <!-- Returns the number of Articles this user has written -->
              <!-- If this user has one article, pluralize returns "1 article" -->
              <%= pluralize(user.articles.count, "article") %>
            </p>
            <%= link_to 'View Profile', user, class: 'btn btn-outline-success' %>

            <% if logged_in? %>
              <!-- If the user is logged in, show the edit and delete buttons -->
              <% if user == current_user %>
                <%= link_to 'Edit Profile' , edit_user_path(user), class: 'btn btn-outline-info' %>
              <% end %>

              <!-- If the user is an admin, show the delete button -->
              <% if current_user.admin? %>
                <%= link_to 'Delete Profile', user_path(user), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete the user and all its associated articles?' }, class: 'btn btn-outline-danger' %>
              <% end %>
            <% end %>

          </div>
          
          <div class="card-footer text-muted">
            <small>
              Joined <%= time_ago_in_words(user.created_at) %> ago
            </small>
          </div>
          
        </div>
        
      </div>
      
    </div>
    
  <% end %>
  
</div>

<!-- Pagination -->
<div class="flickr_pagination mb-4">
  <%= will_paginate @users, :container => false %>
</div>