<!-- Navbar Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container-fluid">
    <%= link_to 'ALPHA BLOG', root_path, class: 'navbar-brand', id: 'logo' %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Padulong sa Home Page -->
        <li class="nav-item">
          <%= link_to 'Articles', articles_path, class: 'nav-link' %>
        </li>

        <!-- Padulong sa New-Article Page, pagdala ug plite, dapat sensilyo. -->
        <li class="nav-item">
          <%= link_to 'New Article', new_article_path, class: 'nav-link' %>
        </li>
        
        <!-- Padulong sa About Page -->
        <li class="nav-item">
          <%= link_to 'About', about_path, class: 'nav-link' %>
        </li>

        <!-- Padulong sa Users Listing Page -->
        <li class="nav-item">
          <%= link_to 'Authors', users_path, class: 'nav-link' %>
        </li>

        <!-- Log In Button -->
        <li class="nav-item">
          <%= link_to 'Log In', login_path, class: 'nav-link' %>
        </li>

        <!-- Log Out Button -->
        <li class="nav-item">
          <%= link_to 'Logout', logout_path, class: 'nav-link', method: :delete %>
        </li>
      </ul>

      <!-- Search Bar, para sa pagpangita sa Articles. -->
      <%= form_with(url: articles_path, method: :get, class: "d-flex", local: true) do |form| %>
        <%= form.text_field :search, placeholder: "Search Articles", class: "form-control me-2" , value: params[:search] %>
        <%= form.submit "Search", class: "btn btn-outline-success" %> 
      <% end %>

    </div>

  </div>
</nav>
